body{
    background-color: rgb(36, 36, 36);
    color: white;
}

table,
th,
td{
    border: 2px solid white;
    border-collapse: collapse;
    padding: 10px;
}

button{
    margin: 10px 5px;
    cursor: pointer;
    border: none;
    padding: 5px;
}